<div class="target-content">
  目標:<%= @target&.content %>
</div>

<div class="mypage_profile">
  <div class="mypage_name">
    <%= @user.name %>
  </div>

  <div class="mypae_email">
  <%if @user == current_user %>
    <%= @user.email %>
  <% end %>
  </div>

  <div class="follow">
    <a href="<%= users_following_path(@user) %>">
      <strong id="following" class="friend">
        <%= @user.following.count %>
      </strong>
    フォロー
    </a>
    <a href="<%= users_followers_path(@user) %>">
      <strong id="followers" class="friend">
        <%= @user.followers.count %>
      </strong>
      フォロワー
    </a>
  </div>
</div>

<div class="mypage_image">
  <!--<strong>Image:</strong>-->
  <% if @user.avatar.present? %>
    <%= image_tag @user.avatar, :size => "280x330"%>
  <% else %>
    <%= image_tag('default.jpg') %>
  <% end %>
</div>

<!--<div>-->
  <!--point<br><%#= current_user.lucks.count%>/<%#= @target&.point %>-->
<!--  point<br><%#= @user.lucks.count%>/<%#= @target&.point %>-->
<!--</div>-->

<div class="mypage_chart">
  <div class="mypage_points">
    運ポイント<br><%= @user.lucks.count%>/<%= @target&.point %>
  </div>
<%= bar_chart [
  { name: "運ポイント", data: @chart_luck },
  { name: "目標ポイント", data: @chart_target }
] %>
</div>

<!--<%#= pie_chart ({ "Football":@user.lucks.count , "Basketball": @target&.point }) %>-->

<%unless @user == current_user %>
<div class ="follow_btn">
  <%= render 'follow_form', user: @user %>
</div>
<% end %>

<%if @user == current_user %>
<% if point_comparison(@user,@terget)  %>
<div class="congratulations">
  <p><span class="c">c</span><span class="o">o</span><span class="n">n</span><span class="g">g</span><span class="r">r</span><span class="a">a</span><span class="t">t</span><span class="u">u</span><span class="l">l</span><span class="a2">a</span><span class="t2">t</span><span class="i">i</span><span class="o2">o</span><span class="n2">n</span><span class="s">s</span></p>
<p>目標ポイントを達成！！</p>
</div>
  <center><%= link_to '運ポイントをリセットする', destroy_all_lucks_path, method: :delete, data: { confirm: '運ポイントと一日一善の投稿が全て削除します。よろしいですか？' }, class: 'btn btn-primary' %></center>
<% end %>
<% end %>
<div class="user_luck_content">
  <% @luck.each do |luck| %>
  <div class ="user-design">
      <%= luck.content %>
      </div>
  <% end %>
</div>
