<%= form_with(model: @luck, local: true ,url: choose_new_or_edit) do |form| %>
  <div class="luck_content">
    <%= form.label :投稿内容 %>
    <%= form.text_field :content %>
  </div>
  
  <div class="luck_image">
  <%= form.label :画像投稿 %>
  <%= form.file_field :image %><br>
  </div>
  <button type="submit" class="btn btn-info">投稿する</button>
<% end %>

