<!DOCTYPE html>
<html>
  <head>
    <title>💰OneLuck</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="wrap">
  <body style= width:1440px;>
  <% if current_page?(new_target_path) %>
  <header>
     <nav id="sampleNavbar" class="navbar navbar-default">
  </header>
  <% elsif user_signed_in? %>
  <header>
   <nav id="sampleNavbar" class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">一日一善一運</a>
      <ul class="nav navbar-nav">
           <%= link_to "マイページ", user_path(current_user.id),class: 'btn btn-primary' %>
           <%= link_to "マイページ変更", edit_user_registration_path,class: 'btn btn-primary' %>
           <%= link_to "みんなの投稿", lucks_path,class: 'btn btn-primary' %>
           <%= link_to "一日一善の投稿", new_luck_path,class: 'btn btn-primary' %>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'btn btn-primary' %>
           <%= link_to "目標一覧", top_targets_path,class: 'btn btn-success' %>
      </ul>
    </div>
      
    </div>
    </div>
  </header>
  <% else %>
   <header>
     <nav id="sampleNavbar" class="navbar navbar-default">
     <div data-spy="affix">
       <a class="navbar-brand" href="/">一日一善一運</a>
     </div>
     <ul class="table-ul">
        <li><a class="btn btn-primary" href="#description" role="button">一日一善一運とは？</a></li>
        <li><a class="btn btn-primary" href=" /users/sign_up" role="button">サインアップ</a></li>
        <li><a class="btn btn-primary" href=" /users/sign_in" role="button">ログイン</a></li>
    </ul>
  </header>
  <% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
  <footer>
    <p>利用規約</p>
    <p>プライバシーポリシー</p>
  </footer>
  </div>
  </body>
</html>